.sfdx/sfdx-config.json
.sfdx/orgs/test-zrd9jh6c90gy@example.com/maxrevision.json
.sfdx/sfdx-config.json
.sfdx/orgs/test-zrd9jh6c90gy@example.com/maxrevision.json
.sfdx/sfdx-config.json
.sfdx/orgs/test-zrd9jh6c90gy@example.com/maxrevision.json
.sfdx/tools/apex.db
.sfdx/orgs/test-zrd9jh6c90gy@example.com/metadataTypeInfos.json
.sfdx/orgs/test-zrd9jh6c90gy@example.com/sourcePathInfos.json
